{% extends "base.html" %}

{% block title %}{{ SITENAME }} | Articles{% endblock %}
{% block content %}

    <h1>Articles</h1>

    {% for year, year_group in dates|groupby('date.year')|reverse %}
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
            {% set ns = namespace(articles=[]) %}
            {% for article in month_group %}
                {% if article.relative_source_path.startswith('articles/') %}
                    {% set ns.articles = ns.articles + [article] %}
                {% endif %}
            {% endfor %}
            {% if ns.articles %}
                <h4 class="date">{{ (ns.articles|first).date|strftime('%b %Y') }}</h4>
                <div class="post archives">
                    <ul>
                    {% for article in ns.articles %}
                        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
